<!--
//===========================================================
// CPSC 473 Project 2
// Team:  Econometric Rhombus
// File: views/student.html
//===========================================================
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Student</title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
        <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
        <script src='/javascripts/bootstrap.min.js'></script>
    </head>
    <body id="student_message">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/student">Student</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/student/question">Question</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/"><i class="glyphicon glyphicon-user"></i> {{username}}</a></li>
                    <li><a href="/logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="container theme-showcase" role="main">
            <div id="answers_container">
                <div class="jumbotron">
                    <h3>Welcome back, {{name}}</h3>
                </div>
            </div>
        </body>
    </html>